<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0LFJhH0bXlB-VQUJlyTZUd9nu3aTDBBY</string>
	<key>GCM_SENDER_ID</key>
	<string>206192329935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cp3405Project</string>
	<key>PROJECT_ID</key>
	<string>scrummies-384d5</string>
	<key>STORAGE_BUCKET</key>
	<string>scrummies-384d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206192329935:ios:924b1c832afe137878a3ba</string>
</dict>
</plist>